<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
	    {{>styleLink}}
	    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
  <style type="text/css">
  	{{>style_index}}  
  </style>
</head>
<body>
	<div class=container>{{>navbar}}</div>

<!-- 	<script type="text/javascript">
		fetch('http://puzzle.mead.io/puzzle').then(res => {
			res.json().then(data=>{
				console.log(data);
			})
		})
	</script> -->
</body>
</html>